*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.secao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 100dvh;
    position: sticky ;
    top: 0;
}


/*tela inicial*/


.telainicial_1{
    background-color: #000000;
    gap: 50px;
}

.telainicial_1 > img{
    width: 400px;
    margin: 15px;
}

.telainicial_1 > button{
    width: 110px;
    padding: 10px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #000000;
    font-size: 20px;
}

#vamosla:hover{
    color: goldenrod;
    border-color: goldenrod;
    border-radius: 20px;
}


/*Tela2*/

.amostra_2{
    background-color: aliceblue;
    display: flex;
    
}

#tituloAmostra{
    font-size: 50px;
    margin: 20px;
}

.cabelos{
    border-radius: 50px;
    margin: 70px;
    
}

.botaoAgendar{
    width: 400px;
    height: 70px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #000000;
    font-size: 30px;
    margin: 70px;
}


/*Tela 3*/

.localizacao_3{
    background-color: #FFF7D9;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.produtos_4{
    background-color: aliceblue;
}

.zap{
    position: fixed;
    right: 70px;
    bottom: 80px;
}